.toolbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.toolbarItem {
  font-size: 1.25em;
  cursor: pointer;
}
.toolbarItem:hover,
.active {
  color: rgb(56, 155, 155);
}
.toolbarItem:not(:last-child) {
  margin-right: 1em;
  padding-right: 1em;

  border-right: 1px solid black;
}
